.EntradaPPaT {
  text-align: center;
  border : 1px solid black;
  width : 40%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  height: 100px;
}

.EntradaPPaT-select {
  width: 50%;
  font-size: 14pt;
}

.EntradaPPaT-mensaje {
	width: 50%;
	float:left;
}

.EntradaPPaT-imagen {
	width: 50%;
	float:left;
}